{% extends 'base.html.twig' %}

{% block title %}ProductImage index{% endblock %}

{% block body %}
    <h1>ProductImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_image in product_images %}
            <tr>
                <td>{{ product_image.id }}</td>
                <td>{{ product_image.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_product_image_show', {'id': product_image.id}) }}">show</a>
                    <a href="{{ path('app_product_image_edit', {'id': product_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_image_new') }}">Create new</a>
{% endblock %}
