{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}


    <h1>Homme</h1>

    <section class="product-list">
        {% for product in products %}
        <article>
            <div class="img-new-container"><img src="/img/43_6f037a9a-0592-4f02-9b9f-13f1728ea61b.png" alt="product image" class="img-new"></div>
                <h2 class="title-new">{{ product.name }}</h2>
            <div class="btn-price-new-container">
                <h3 class="price-new">{{ product.price }}</h2>
                <a href="#" class="btn-new">Acheter</a>
            </div>
        </article>
        {% endfor %}
    </section>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>StockQuantity</th>
                <th>ImageUrl</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stockQuantity }}</td>
                <td><img src="" alt=""></td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a> -->
{% endblock %}
