{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block content %}
    <h1>Produits de la catégorie {{ products[0].category.name ?? 'Inconnue' }}</h1>

    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong><br>
                {{ product.description }}<br>
                Prix : {{ product.price }} €<br>
                Stock : {{ product.stockQuantity }}
            </li>
        {% else %}
            <li>Aucun produit trouvé dans cette catégorie.</li>
        {% endfor %}
    </ul>
{% endblock %}